
html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}
.splitter {
    width: 100%;
    height: 84%;
    display: flex;
}


#separator {
    cursor: col-resize;
    background-color: #aaa;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 100%;

    /* Prevent the browser's built-in drag from interfering */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#first {
    background-color: #dde;
    width: 70%;
    height: 100%;
    min-width: 10px;
}

#second {
    background-color: #eee;
    width: 80%;
    height: 100%;
    min-width: 10px;
    overflow: auto;
}
#first textarea{
    height: 98%;
    width: 100%;
    resize: inherit;
    overflow: auto;
    border: none;
}


#header{
  height:8%;
  border-bottom: 2px solid lightgray;
}
#footer{
  height:8%;
  border-top: 2px solid lightgray;
}



/* CSS */
.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

#second li,ul,ol{
  list-style: none;
  padding-left: 10px;
  margin-bottom:0px;
  margin-top: 0px;
}
#second .key{
  color:green;
} 

#second .number{
  color:rgb(141, 6, 17);
}
.array::before,.object::before{
  /* content: '\25B8'; */
  cursor: pointer;
}
.marT5{
  margin-top: 5px;
}
.marT10{
  margin-top: 10px;
}
.marT3{
  margin-top: 3px;
}
.floL{
  float: left;
}
.floR{
  float: right;
}
.marL3{
  margin-left: 3px;
}
.marR3{
  margin-right: 3px;
}
